.img-input{
    color: black !important;
}
.delivery-1{
    border: 1px solid #f37032;
    width: 50%;
   padding: 1rem;
   color: #f37032;
   border-radius: 4px;
}
.delivery-2{
    border:1px solid black;
    width: 50%;
   padding: 1rem;
   border-radius: 4px;
   margin-left: 1rem;
}
h4{
    font-size: 19px;
}
.delivery-3{
    margin-top: 2rem;
    text-align: center;
    border: 1px solid rgb(160, 158, 158);
   padding: 1rem;
   color: #f37032;
   border-radius: 4px;
   width: 50%;
}
.bdt{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    
}
.bdt-div{
    border: 1px solid rgb(160, 158, 158);
    border-radius: 3px;
    text-align: center;
    padding-top: 1rem;
}